.footer {
  padding: 20px 0;
  background-color: #f5f5f5;
}

.footer__icon {
  color: #b5b7b9;
}

.footer__icon:not(:last-child) {
  margin-right: 15px;
}

.footer__icon:hover {
  color: #50c3af;
}

.social-icons {
  padding-top: 24px;
}