html,
body { height: 100%; }

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container { 
  background-color: rgb(191,227,255); 
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-item {
  width: 200px;
  height: 200px;
  margin: 5px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  border: 2px solid #fff;
  background-color: rgb(34,181,115);
}

.flex-item:first-child {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.flex-item:last-child {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}