body {
  position: relative;
  background: #fff;
  color: #000;
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  font-size: 20px;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  margin: auto;
  width: 100%;
}

.page_centered {
  width: 940px;
  margin: 0 auto;
}

@media only screen and (max-width: 940px) {
  .page_centered {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) { /* 900-1024 */
  .page_centered {
    padding: 0 30px;
  }

  .block__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
