<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REEN</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="desktop/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="desktop/css/style.css">
</head>
<body>
<section class="wrapper">
  <header class="header">
    <div class="page_centered">
      <div class="logo_wrapper">
        <a href="/" class="logo">
          <img src="desktop/img/logo.png" alt="">
        </a>
      </div>
      <nav class="navigation">
        <ul class="navigation__items">
          <li><a class="navigation__items__item" href="/">Home</a></li>
          <li><a class="navigation__items__item" href="/">Portfolio</a></li>
          <li><a class="navigation__items__item" href="/">Blog</a></li>
          <li><a class="navigation__items__item" href="/">Pages</a></li>
          <li><a class="navigation__items__item" href="/">Feutures</a></li>
          <li><a class="navigation__items__item" href="/">Mega Menu</a></li>
          <li><a class="navigation__items__item" href="/">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="fresh_design">
    <div class="page_centered">
      <h1 class="fresh_design__header">Fresh and beautiful <br />design</h1>
      <p class="fresh_design__descr">
        REEN is designed to showcase your talent and put your work in the forefront. <br /> Professionally use of typography and layout that fits your content.
      </p>
    </div>
  </div>
  <div class="categories">
    <div class="page_centered">
      <h2 class="header_name">
        Beautiful. Clean. Responsive.
      </h2>
      <div class="block_descr">
        REEN is a high-quality solution for those who want a beautiful website in no time. It's fully responsive and will adapt itself to any mobile device. iPad, iPhone, Android, it doesn't matter. Your content will always looks its absolute best.
      </div>
      <div class="categories__items">
        <div class="categories__items__item">
          <div class="categories__items__item_icon">
            <img src="desktop/img/icon_heart.png" alt="">
          </div>
          <div class="categories__items__item_wrapper">
            <h3 class="header_subname">Passion</h3>
            <div class="block_descr_small">
              Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.
            </div>
          </div>
        </div>
        <div class="categories__items__item">
          <div class="categories__items__item_icon">
            <img src="desktop/img/icon_heart.png" alt="">
          </div>
          <div class="categories__items__item_wrapper">
            <h3 class="header_subname">Creativity</h3>
            <div class="block_descr_small">
              Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.
            </div>
          </div>
        </div>
        <div class="categories__items__item">
          <div class="categories__items__item_icon">
            <img src="desktop/img/icon_heart.png" alt="">
          </div>
          <div class="categories__items__item_wrapper">
            <h3 class="header_subname">Quatily</h3>
            <div class="block_descr_small">
              Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="latest_works">
    <div class="page_centered">
      <h2 class="header_name">
        Check out our latest works
      </h2>
      <div class="block_descr">
        Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor.
      </div>
      <div class="latest_works__big_block">
        <div class="latest_works__big_block_item__wrapper">
          <img src="desktop/img/work1.png" alt="">
          <div class="img_descr">
            <div class="block_descr bold">Grand Motel gets an identity brushup</div>
            <div class="block_descr small">Identity</div>
          </div>
        </div>
        <div class="latest_works__big_block_item__wrapper">
          <img src="desktop/img/work2.png" alt="">
          <div class="img_descr">
            <div class="block_descr bold">Fresh branding for a creative startup</div>
            <div class="block_descr small">Identity</div>
          </div>
        </div>
      </div>
      <div class="latest_works__small_block">
        <div class="latest_works__small_block_item__wrapper">
          <img src="desktop/img/gallery_item1.png" alt="">
        </div>
        <div class="latest_works__small_block_item__wrapper">
          <img src="desktop/img/gallery_item2.png" alt="">
        </div>
        <div class="latest_works__small_block_item__wrapper">
          <img src="desktop/img/gallery_item3.png" alt="">
        </div>
        <div class="latest_works__small_block_item__wrapper">
          <img src="desktop/img/gallery_item4.png" alt="">
        </div>
      </div>
      <div class="gallery">
        <div class="gallery_circle"></div>
        <div class="gallery_circle active"></div>
        <div class="gallery_circle"></div>
      </div>
    </div>
  </div>
  <div class="working">
    <div class="page_centered">
      <h2 class="header_name">
        Want to work with us?
      </h2>
      <div class="block_descr">
        Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor.<br /> Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.
      </div>
      <a href="/" class="get_in_touch">
        Get in touch
      </a>
    </div>
  </div>
  <footer class="footer">
    <div class="page_centered">
      <div class="footer__left">
        <h3 class="footer_name">
          Who we are
        </h3>
        <div class="logo_wrapper">
          <a href="/" class="logo">
            <img src="desktop/img/white_logo.png" alt="">
          </a>
        </div>
        <p class="footer_left_descr">
          Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.
        </p>
        <a href="/" class="more_info">More about us</a>
      </div>
      <div class="footer__right">
        <h3 class="footer_name">
          Free updates
        </h3>
        <p class="footer_left_descr">
          Conecus iure posae volor remped modis aut lor volor accabora incim resto explabo.
        </p>
        <form class="footer_form">
          <input class="email" type="email" value="" placeholder="Enter your e-mail address" />
          <button class="subscribe_button">Subscribe</button>
        </form>
      </div>

    </div>
  </footer>
</section>
</body>
</html>